<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="PATTERN">%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>
    <appenders>
        <Console name="ConsoleStdErr" target="SYSTEM_ERR">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="ConsoleStdErr"/>
        </root>

    </loggers>
</configuration>